table{
    position:static;
    width: 100%;
}

.mat-column-id{
    font-style:italic;
}

.mat-column-value{
    font-weight: bold;
}


i.edit{
    color:rgb(103, 103, 253)
}

  i.delete{
      color:rgb(255, 130, 130);
      margin-left: 10px;
      
  }

  i.log{
    color:rgb(92, 172, 90);
    margin-left: 10px;
    
}